*{
    margin: 0;
    padding: 0;
    font-family: "Open Sans", sans-serif;
    /* background: linear-gradient(45deg, #0077b6, #00b4d8, #90e0ef); */
    /* background: linear-gradient(180deg, #0077b6, #00b4d8, #90e0ef);
    min-height: 100vh; */
}
